<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link h6 active" aria-current="page" href="#home">Home</a>
        <a class="nav-link h6" href="#partners">Our Partners</a>
        <a class="nav-link h6" href="#about">About the Organization</a>
        <a class="nav-link h6" href="#join">Join Us!</a>
      </div>
    </div>
  </div>
</nav>

<app-home></app-home>
<app-partners></app-partners>
<app-join-us></app-join-us>